@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Varela Round', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 2.5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.heading{
    font-family: 'Varela Round', sans-serif;
}

.container{
    font-family: 'Varela Round', sans-serif;
    max-width: 92vw;
    margin: auto;
}

.name{
    padding: .2rem 0;
}

.code{
    font-size: 1.2rem !important;
}

.l-items{
    padding: 1rem 0;
    font-size: 1.4rem;
}

.toolbar-item button{
    color: #d1d5db !important;
    cursor: pointer !important;
}

.toolbar-item button:hover{
    color: #f3f4f6 !important;
}

@media screen and (max-width: 1024px) {
    header{
        font-size: 1.4rem;
        padding: 2rem;
    }
    
    .l-items {
        font-size: 1.2rem;
    }

    .code {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 768px) {
    
    header{
        font-size: 1.2rem ;
        padding-top: 2rem;
        padding-bottom: 1rem;
        
    }
    
    .container{
        max-width: 98vw;
    }
    .l-items{
        list-style: none;
    }
}
@media screen and (max-width: 425px) {
    header{
        padding-top: 1.5rem;
        padding-bottom: 0.8rem;
    }

    .l-items{
        font-size: 1.1rem;
    }

    .code {
        padding: 0.8em !important;
        font-size: 1rem !important;
    }
}